In [176]:
import numpy as np
import pandas as pd
import re

dict_age = {"1": "Under 18",
            "18": "18-24",
            "25": "25-34",
            "35": "35-44",
            "45": "45-49",
            "50": "50-55",
            "56": "56+"
           }
dict_gender = {"M": "Male",
               "F": "Female"
              }
dict_occupation = {
    "0": "other or not specified",
    "1": "academic/educator",
    "2": "artist",
    "3": "clerical/admin",
    "4": "college/grad student",
    "5": "customer service",
    "6": "doctor/health care",
    "7": "executive/managerial",
    "8": "farmer",
    "9": "homemaker",
    "10": "K-12 student",
    "11": "lawyer",
    "12": "programmer",
    "13": "retired",
    "14": "sales/marketing",
    "15": "scientist",
    "16": "self-employed",
    "17": "technician/engineer",
    "18": "tradesman/craftsman",
    "19": "unemployed",
    "20": "writer"
}
data = []
with open("./movies.txt", "r") as f1:
    for line in f1:
        items = line.split("::")
        year = re.search("\((\d{4})\)", items[1]).group()
        items[1] = items[1].replace(" " + year, "")
        items.append(year[1:-1])
        items[2] = items[2].replace("\n", "").split("|")
        data.append(items)
    df_movie = pd.DataFrame(data, columns =['MovieID', 'Title', 'Genre', 'Year'])
         
data = []
with open("./users.txt", "r") as f1:
    for line in f1:
        items = line.split("::")
        items[1] = dict_gender[items[1]]
        items[2] = dict_age[items[2]]
        items[3] = dict_occupation[items[3]]
        items[4] = items[4].replace("\n", "")
        data.append(items)
    df_users = pd.DataFrame(data, columns =["UserID", "Gender", "Age", "Occupation", "Zip-code"])

data = []
with open("./training.txt", "r") as f1:
    for line in f1:
        items = line.split(",")
        items[3] = items[3].replace("\n", "")
        data.append(items)
    df_training = pd.DataFrame(data, columns =["UserID", "MovieID", "Rating", "Timestamp"])

data = []
with open("./testing.txt", "r") as f1:
    for line in f1:
        items = line.split(",")
        items[2] = items[2].replace("\n", "")
        data.append(items)
    df_testing = pd.DataFrame(data, columns =["UserID", "MovieID", "Timestamp"])

In [177]:
df_movie

,MovieID,Title,Genre,Year
0,1,Toy Story,"[Animation, Children's, Comedy]",1995
1,2,Jumanji,"[Adventure, Children's, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama]",1995
4,5,Father of the Bride Part II,[Comedy],1995
...,...,...,...,...
3878,3948,Meet the Parents,[Comedy],2000
3879,3949,Requiem for a Dream,[Drama],2000
3880,3950,Tigerland,[Drama],2000
3881,3951,Two Family House,[Drama],2000
3882,3952,"Contender, The","[Drama, Thriller]",2000

In [178]:
df_users

     UserID  Gender       Age              Occupation Zip-code
0         1  Female  Under 18            K-12 student    48067
1         2    Male       56+           self-employed    70072
2         3    Male     25-34               scientist    55117
3         4    Male     45-49    executive/managerial    02460
4         5    Male     25-34                  writer    55455
...     ...     ...       ...                     ...      ...
6035   6036  Female     25-34               scientist    32603
6036   6037  Female     45-49       academic/educator    76006
6037   6038  Female       56+       academic/educator    14706
6038   6039  Female     45-49  other or not specified    01060
6039   6040    Male     25-34      doctor/health care    11106

[6040 rows x 5 columns]

In [179]:
df_training

       UserID MovieID Rating   Timestamp
0          63    3006      4   977899676
1        1125      10      2   975625890
2         181    2384      2   977088920
3        1968    1610      4   974742431
4        4156    2410      4   965342309
...       ...     ...    ...         ...
700141   4346    3301      1   965682638
700142   1645    2359      5   988273128
700143   2719    2871      2   973285311
700144   4666    2335      3   963846717
700145   4940    1127      3  1022013184

[700146 rows x 4 columns]

In [180]:
df_testing

       UserID MovieID  Timestamp
0         324    2803  976406738
1        4447    1920  965146127
2        4238    3676  965417632
3        4661     368  963867813
4        5078    3471  962416423
...       ...     ...        ...
300058   3836    3138  965926550
300059   3632    3203  966536219
300060   3242    1627  968347685
300061   4362    2542  965188223
300062   1626    2606  974722453

[300063 rows x 3 columns]

In [181]:
df_movie = pd.concat([df_movie,pd.get_dummies(df_movie['Genre'].apply(pd.Series).stack()).sum(level=0)],axis=1)
df_movie.drop('Genre',axis=1,inplace=True)
df_movie

,MovieID,Title,Year,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story,1995,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji,1995,0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men,1995,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale,1995,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II,1995,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,3948,Meet the Parents,2000,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3879,3949,Requiem for a Dream,2000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3880,3950,Tigerland,2000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3881,3951,Two Family House,2000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3882,3952,"Contender, The",2000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [182]:
result = set(map(int, df_movie['MovieID'].unique().tolist()))
result

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 687,
 688,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 996,
 997,
 998,
 999,
 1000,
 1001,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 ...}

In [183]:
movies = set(range(1, 3593))
movies - result

{91,
 221,
 323,
 622,
 646,
 677,
 686,
 689,
 740,
 817,
 883,
 995,
 1048,
 1072,
 1074,
 1182,
 1195,
 1229,
 1239,
 1338,
 1402,
 1403,
 1418,
 1435,
 1451,
 1452,
 1469,
 1478,
 1481,
 1491,
 1492,
 1505,
 1506,
 1512,
 1521,
 1530,
 1536,
 1540,
 1560,
 1576,
 1607,
 1618,
 1634,
 1637,
 1638,
 1691,
 1700,
 1712,
 1736,
 1737,
 1745,
 1751,
 1761,
 1763,
 1766,
 1775,
 1778,
 1786,
 1790,
 1800,
 1802,
 1803,
 1808,
 1813,
 1818,
 1823,
 1828,
 1838}

In [184]:
df_zipcodes = pd.read_csv("uszips.csv")
df_zipcodes

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,all_county_weights,imprecise,military,timezone
0,601,18.18004,-66.75218,Adjuntas,PR,Puerto Rico,True,NaN,18570,111.4,72001,Adjuntas,"{'72001':99.43,'72141':0.57}",False,False,America/Puerto_Rico
1,602,18.36073,-67.17517,Aguada,PR,Puerto Rico,True,NaN,41520,523.5,72003,Aguada,{'72003':100},False,False,America/Puerto_Rico
2,603,18.45439,-67.12202,Aguadilla,PR,Puerto Rico,True,NaN,54689,667.9,72005,Aguadilla,{'72005':100},False,False,America/Puerto_Rico
3,606,18.16724,-66.93828,Maricao,PR,Puerto Rico,True,NaN,6615,60.4,72093,Maricao,"{'72093':94.88,'72121':1.35,'72153':3.78}",False,False,America/Puerto_Rico
4,610,18.29032,-67.12243,Anasco,PR,Puerto Rico,True,NaN,29016,312.0,72011,AÃ±asco,"{'72003':0.55,'72011':99.45}",False,False,America/Puerto_Rico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33094,99923,55.97796,-130.03671,Hyder,AK,Alaska,True,NaN,87,2.1,2198,Prince of Wales-Hyder,{'02198':100},False,False,America/Sitka
33095,99925,55.55767,-132.97627,Klawock,AK,Alaska,True,NaN,819,5.7,2198,Prince of Wales-Hyder,{'02198':100},False,False,America/Sitka
33096,99926,55.12617,-131.48928,Metlakatla,AK,Alaska,True,NaN,1460,4.2,2198,Prince of Wales-Hyder,{'02198':100},False,False,America/Metlakatla
33097,99927,56.25100,-133.37571,Point Baker,AK,Alaska,True,NaN,94,0.2,2198,Prince of Wales-Hyder,{'02198':100},False,False,America/Sitka
33098,99929,56.36950,-131.93648,Wrangell,AK,Alaska,True,NaN,2338,0.4,2275,Wrangell,{'02275':100},False,False,America/Sitka

In [185]:
df_zipcodes[["zip"]] = df_zipcodes[["zip"]].applymap(str)
df_zipcodes[["city_name"]] = df_zipcodes[["city"]]
df_zipcodes.drop('city',axis=1,inplace=True)
df_users["Zip-code"] = df_users["Zip-code"].str.lstrip("0")
df_users

     UserID  Gender       Age              Occupation Zip-code
0         1  Female  Under 18            K-12 student    48067
1         2    Male       56+           self-employed    70072
2         3    Male     25-34               scientist    55117
3         4    Male     45-49    executive/managerial     2460
4         5    Male     25-34                  writer    55455
...     ...     ...       ...                     ...      ...
6035   6036  Female     25-34               scientist    32603
6036   6037  Female     45-49       academic/educator    76006
6037   6038  Female       56+       academic/educator    14706
6038   6039  Female     45-49  other or not specified     1060
6039   6040    Male     25-34      doctor/health care    11106

[6040 rows x 5 columns]

In [186]:
df_zipcodes2 = pd.read_json('USCities.json')
df_zipcodes2

       zip_code latitude longitude         city state                  county
0           501  40.9223  -72.6371   Holtsville    NY                 Suffolk
1           544  40.9223  -72.6371   Holtsville    NY                 Suffolk
2           601  18.1653  -66.7226     Adjuntas    PR                Adjuntas
3           602  18.3931   -67.181       Aguada    PR                  Aguada
4           603  18.4559  -67.1458    Aguadilla    PR               Aguadilla
...         ...      ...       ...          ...   ...                     ...
42736     99926  55.0943  -131.567   Metlakatla    AK  Prince Wales Ketchikan
42737     99927  55.5179  -132.003  Point Baker    AK  Prince Wales Ketchikan
42738     99928  55.3954  -131.675    Ward Cove    AK       Ketchikan Gateway
42739     99929  56.4499  -132.364     Wrangell    AK     Wrangell Petersburg
42740     99950   55.542  -131.433    Ketchikan    AK       Ketchikan Gateway

[42741 rows x 6 columns]

In [187]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}
df_zipcodes2['state'] = df_zipcodes2['state'].map(states).fillna(df_zipcodes2['state'])

In [188]:
typo_county = {
    "Du Page" : "DuPage",
    "Saint Marys" : "St. Mary's",
    "Saint Lucie" : "St. Lucie",
    "Saint Tammany" : "St. Tammany",
    "Saint Louis" : "St. Louis",
    "District Of Columbia" : "District of Columbia",
    "Saint Croix": "St. Croix",
    "De Kalb" : "DeKalb",
    "Saint Clair" : "St. Clair",
    "La Salle" : "LaSalle",
    "Saint Bernard" : "St. Bernard",
    "St Joseph": "St. Joseph",
    "Bayamon" : "BayamÃ³n",
    "Lewis And Clark" : "Lewis and Clark",
    "Dona Ana" : "DoÃ±a Ana",
    "Saint Joseph" : "St. Joseph",
    "Saint Johns" : "St. Johns",
    "Saint Charles" : "St. Charles",
    "Saint Louis City" : "St. Louis",
    "St Joseph" : "St. Joseph",
    "Saint Lawrence" : "St. Lawrence",
    "La Porte" : "LaPorte",
    "Fond Du Lac" : "Fond du Lac"
}
typo_city = {
    "Mc Kinney" : "McKinney",
    "Mckinney" : "McKinney",
    "Bayamon" : "BayamÃ³n",
    "W Harford": "West Harford"
}
df_zipcodes2['county'] = df_zipcodes2['county'].map(typo_county).fillna(df_zipcodes2['county'])
df_zipcodes2['city'] = df_zipcodes2['city'].map(typo_city).fillna(df_zipcodes2['city'])
df_zipcodes['city_name'] = df_zipcodes['city_name'].map(typo_city).fillna(df_zipcodes['city_name'])

In [189]:
df_users = pd.merge(df_users,df_zipcodes[['zip', 'city_name', 'state_name', 'county_name']], how='left',left_on=['Zip-code'],right_on=['zip'])
df_zipcodes2[["zip_code"]] = df_zipcodes2[["zip_code"]].applymap(str)
df_users = pd.merge(df_users,df_zipcodes2[['zip_code', 'city', 'state', 'county']], how='left',left_on=['Zip-code'],right_on=['zip_code'])
df_users

,UserID,Gender,Age,Occupation,Zip-code,zip,city_name,state_name,county_name,zip_code,city,state,county
0,1,Female,Under 18,K-12 student,48067,48067,Royal Oak,Michigan,Oakland,48067,Royal Oak,Michigan,Oakland
1,2,Male,56+,self-employed,70072,70072,Marrero,Louisiana,Jefferson,70072,Marrero,Louisiana,Jefferson
2,3,Male,25-34,scientist,55117,55117,Saint Paul,Minnesota,Ramsey,55117,Saint Paul,Minnesota,Ramsey
3,4,Male,45-49,executive/managerial,2460,2460,Newtonville,Massachusetts,Middlesex,2460,Newtonville,Massachusetts,Middlesex
4,5,Male,25-34,writer,55455,55455,Minneapolis,Minnesota,Hennepin,55455,Minneapolis,Minnesota,Hennepin
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6035,6036,Female,25-34,scientist,32603,32603,Gainesville,Florida,Alachua,32603,Gainesville,Florida,Alachua
6036,6037,Female,45-49,academic/educator,76006,76006,Arlington,Texas,Tarrant,76006,Arlington,Texas,Tarrant
6037,6038,Female,56+,academic/educator,14706,14706,Allegany,New York,Cattaraugus,14706,Allegany,New York,Cattaraugus
6038,6039,Female,45-49,other or not specified,1060,1060,Northampton,Massachusetts,Hampshire,1060,Northampton,Massachusetts,Hampshire
6039,6040,Male,25-34,doctor/health care,11106,11106,Astoria,New York,Queens,11106,Astoria,New York,Queens

In [190]:
df_users['same'] = np.where((df_users['city_name'] == df_users['city']) & (df_users['state_name'] <= df_users['state']) & (df_users['county_name'] <= df_users['county']), True, False)

In [191]:
#pd.set_option('display.max_rows', 204)
df_users.loc[(df_users['same']==False) & (df_users['zip'].notnull()) & (df_users['zip_code'].notnull()) & ((df_users['city_name'] != df_users['city']) | (df_users['state_name'] != df_users['state']) | (df_users['county_name'] != df_users['county']))]
# Saint Paul di Ramsey, bukan di Washington(Wikipedia & https://www.unitedstateszipcodes.org/55110/)
# Atlanta di Fulton, bukan DeKalb(Wikipedia & https://www.unitedstateszipcodes.org/30350/)
# 66212 di Overland, bukan Shawnee(meskipun bisa di-accept juga)(https://www.mapdevelopers.com/what-is-my-zip-code.php & https://www.unitedstateszipcodes.org/66212/)
# Frisco di Collin dan Denton(harus 2-2nya, bukan salah satu saja) (Wikipedia)
#        di Denton(https://www.unitedstateszipcodes.org/75034/)
# 66205 di Roeland Park, bukan di Mission dan Shawnee(https://www.mapdevelopers.com/what-is-my-zip-code.php)
#       di Mission(https://www.unitedstateszipcodes.org/66205/)
# 96860 tidak ada nama city-nya(https://www.mapdevelopers.com/what-is-my-zip-code.php)
#       di Jbphh, bukan Pearl Harbor(meskipun singkatannya) (https://www.unitedstateszipcodes.org/96860/)
# 53092 di Thiensville, bukan Mequon(meskipun bisa di-accept juga)(https://www.unitedstateszipcodes.org/53092/)
# 66211 di Overland, bukan Leawood dan Shawnee(https://www.mapdevelopers.com/what-is-my-zip-code.php)
#       di Leawood(https://www.unitedstateszipcodes.org/66211/)
# McKinney, bukan Mckinney atau Mc Kinney (Wikipedia)
# 75287 di Dallas, bukan Denton(Wikipedia)
#       di Denton(https://www.unitedstateszipcodes.org/75287/)
# 80020 di Broomfield, bukan Boulder(Wikipedia & https://www.unitedstateszipcodes.org/80020/)
# 2125 di Dorchester, bukan Boston(meskipun bisa di-accept juga)(https://www.unitedstateszipcodes.org/02125/)
# 60103 bisa di Cook, DuPage atau Kane(https://www.village.bartlett.il.us/our-community/counties)
#      di DuPage(https://www.unitedstateszipcodes.org/60103/)
# 2127 di South Boston, bukan di Boston(Wikipedia)
#      di Boston(di Mapnya ada Southnya(https://www.unitedstateszipcodes.org/02127/)
# 77345 di Kingwood, bukan Humble(https://www.unitedstateszipcodes.org/77345/)
# 48178 di Oakland, bukan Washtenaw(https://www.unitedstateszipcodes.org/77345/)
# 66224 di Overland Park, bukan Shawnee(meskipun bisa di-accept juga)(https://www.mapdevelopers.com/what-is-my-zip-code.php & https://www.unitedstateszipcodes.org/66224/)
# 66204 di Overland Park, bukan Shawnee(meskipun bisa di-accept juga)(https://www.mapdevelopers.com/what-is-my-zip-code.php & https://www.unitedstateszipcodes.org/66204/)
# 54915 di Outagamie, bukan Winnebago(https://www.mapdevelopers.com/what-is-my-zip-code.php & https://www.unitedstateszipcodes.org/54915/)
# 66208 di Prairie Village, bukan Shawnee(meskipun bisa di-accept juga)(https://www.mapdevelopers.com/what-is-my-zip-code.php & https://www.unitedstateszipcodes.org/66208/)
# 23059 di Henrico, bukan Hanover(https://www.mapdevelopers.com/what-is-my-zip-code.php & https://www.unitedstateszipcodes.org/23059/)
# 60042 di McHenry, bukan Lake(https://www.mapdevelopers.com/what-is-my-zip-code.php & https://www.unitedstateszipcodes.org/60042/)
# 66203 di Shawnee, bukan Shawnee Mission(meskipun bisa di-accept juga)(https://www.mapdevelopers.com/what-is-my-zip-code.php & https://www.unitedstateszipcodes.org/66203/)
# 80227 di Denver, bukan Jefferson(https://www.mapdevelopers.com/what-is-my-zip-code.php)
#       di Jefferson (https://www.unitedstateszipcodes.org/80227/)
# 23229 di Henrico, bukan Richmond(https://www.unitedstateszipcodes.org/23229/)
# 23233 di Henrico, bukan Richmond(https://www.unitedstateszipcodes.org/23233/)
# 24450 di Rockbridge, bukan Lexington City(https://www.unitedstateszipcodes.org/24450/)
# 19003 di Montgomery, bukan Delaware(https://www.unitedstateszipcodes.org/19003/)
# 92509 di Riverside, bukan Jurupa Valley(https://www.unitedstateszipcodes.org/92509/)
# 30662 di Franklin, bukan Madison(https://www.mapdevelopers.com/what-is-my-zip-code.php & https://www.unitedstateszipcodes.org/30662/)
# 30052 di Walton, bukan Gwinnett(https://www.unitedstateszipcodes.org/30052/)
# 80227 di Osseo, bukan Maple Grove(meskipun bisa di-accept juga)(https://www.unitedstateszipcodes.org/80227/)
# 84119 di Salt Lake City, bukan West Valley City(meskipun bisa di-accept juga)(https://www.unitedstateszipcodes.org/84119/)
# 33028 di Pembroke Pines, bukan Hollywood(https://www.unitedstateszipcodes.org/33028/)

,UserID,Gender,Age,Occupation,Zip-code,zip,city_name,state_name,county_name,zip_code,city,state,county,same
36,37,Female,25-34,homemaker,66212,66212,Overland Park,Kansas,Johnson,66212,Shawnee Mission,Kansas,Johnson,False
56,57,Male,18-24,unemployed,30350,30350,Atlanta,Georgia,Fulton,30350,Atlanta,Georgia,Dekalb,False
96,97,Female,35-44,clerical/admin,66210,66210,Overland Park,Kansas,Johnson,66210,Shawnee Mission,Kansas,Johnson,False
133,134,Male,25-34,other or not specified,66212,66212,Overland Park,Kansas,Johnson,66212,Shawnee Mission,Kansas,Johnson,False
290,291,Male,35-44,programmer,55110,55110,Saint Paul,Minnesota,Washington,55110,Saint Paul,Minnesota,Ramsey,False
343,344,Male,35-44,sales/marketing,75034,75034,Frisco,Texas,Denton,75034,Frisco,Texas,Collin,False
345,346,Female,25-34,other or not specified,55110,55110,Saint Paul,Minnesota,Washington,55110,Saint Paul,Minnesota,Ramsey,False
347,348,Male,50-55,executive/managerial,55110,55110,Saint Paul,Minnesota,Washington,55110,Saint Paul,Minnesota,Ramsey,False
368,369,Male,35-44,academic/educator,55110,55110,Saint Paul,Minnesota,Washington,55110,Saint Paul,Minnesota,Ramsey,False
381,382,Female,35-44,writer,66205,66205,Mission,Kansas,Johnson,66205,Shawnee Mission,Kansas,Johnson,False
547,548,Female,35-44,self-employed,96860,96860,Jbphh,Hawaii,Honolulu,96860,Pearl Harbor,Hawaii,Honolulu,False
585,586,Male,35-44,sales/marketing,53092,53092,Mequon,Wisconsin,Ozaukee,53092,Thiensville,Wisconsin,Ozaukee,False
599,600,Male,35-44,technician/engineer,66209,66209,Leawood,Kansas,Johnson,66209,Shawnee Mission,Kansas,Johnson,False
850,851,Male,18-24,college/grad student,75287,75287,Dallas,Texas,Denton,75287,Dallas,Texas,Dallas,False
961,962,Female,25-34,academic/educator,80020,80020,Broomfield,Colorado,Broomfield,80020,Broomfield,Colorado,Boulder,False
1181,1182,Male,Under 18,K-12 student,91326,91326,Porter Ranch,California,Los Angeles,91326,Northridge,California,Los Angeles,False
1223,1224,Male,50-55,retired,2125,2125,Dorchester,Massachusetts,Suffolk,2125,Boston,Massachusetts,Suffolk,False
1722,1723,Male,35-44,technician/engineer,60103,60103,Bartlett,Illinois,DuPage,60103,Bartlett,Illinois,Cook,False
1872,1873,Male,35-44,executive/managerial,2127,2127,South Boston,Massachusetts,Suffolk,2127,Boston,Massachusetts,Suffolk,False
1958,1959,Female,50-55,retired,53092,53092,Mequon,Wisconsin,Ozaukee,53092,Thiensville,Wisconsin,Ozaukee,False
2029,2030,Male,25-34,college/grad student,77345,77345,Kingwood,Texas,Harris,77345,Humble,Texas,Harris,False
2606,2607,Female,56+,other or not specified,48178,48178,South Lyon,Michigan,Washtenaw,48178,South Lyon,Michigan,Oakland,False
2654,2655,Male,35-44,executive/managerial,66224,66224,Overland Park,Kansas,Johnson,66224,Shawnee Mission,Kansas,Johnson,False
2676,2677,Female,35-44,executive/managerial,66204,66204,Overland Park,Kansas,Johnson,66204,Shawnee Mission,Kansas,Johnson,False
2687,2688,Male,25-34,technician/engineer,54915,54915,Appleton,Wisconsin,Winnebago,54915,Appleton,Wisconsin,Outagamie,False
2813,2814,Male,35-44,executive/managerial,2127,2127,South Boston,Massachusetts,Suffolk,2127,Boston,Massachusetts,Suffolk,False
2886,2887,Male,25-34,clerical/admin,66205,66205,Mission,Kansas,Johnson,66205,Shawnee Mission,Kansas,Johnson,False
3067,3068,Female,35-44,homemaker,66204,66204,Overland Park,Kansas,Johnson,66204,Shawnee Mission,Kansas,Johnson,False
3074,3075,Female,25-34,lawyer,6107,6107,West Hartford,Connecticut,Hartford,6107,W Hartford,Connecticut,Hartford,False
3178,3179,Female,18-24,writer,2125,2125,Dorchester,Massachusetts,Suffolk,2125,Boston,Massachusetts,Suffolk,False
3282,3283,Male,35-44,self-employed,66208,66208,Prairie Village,Kansas,Johnson,66208,Shawnee Mission,Kansas,Johnson,False
3364,3365,Male,50-55,technician/engineer,23059,23059,Glen Allen,Virginia,Henrico,23059,Glen Allen,Virginia,Hanover,False
3566,3567,Male,25-34,sales/marketing,54915,54915,Appleton,Wisconsin,Winnebago,54915,Appleton,Wisconsin,Outagamie,False
3574,3575,Male,25-34,tradesman/craftsman,54915,54915,Appleton,Wisconsin,Winnebago,54915,Appleton,Wisconsin,Outagamie,False
3711,3712,Male,25-34,technician/engineer,60042,60042,Island Lake,Illinois,McHenry,60042,Island Lake,Illinois,Lake,False
3888,3889,Male,45-49,doctor/health care,66203,66203,Shawnee,Kansas,Johnson,66203,Shawnee Mission,Kansas,Johnson,False
3928,3929,Male,25-34,customer service,80227,80227,Denver,Colorado,Jefferson,80227,Denver,Colorado,Denver,False
3971,3972,Female,25-34,doctor/health care,23229,23229,Henrico,Virginia,Henrico,23229,Richmond,Virginia,Henrico,False
4100,4101,Male,18-24,college/grad student,23233,23233,Henrico,Virginia,Henrico,23233,Richmond,Virginia,Henrico,False
4174,4175,Male,35-44,other or not specified,66204,66204,Overland Park,Kansas,Johnson,66204,Shawnee Mission,Kansas,Johnson,False
4217,4218,Male,50-55,technician/engineer,23233,23233,Henrico,Virginia,Henrico,23233,Richmond,Virginia,Henrico,False
4231,4232,Female,35-44,writer,75287,75287,Dallas,Texas,Denton,75287,Dallas,Texas,Dallas,False
4253,4254,Male,25-34,technician/engineer,38654,38654,Olive Branch,Mississippi,DeSoto,38654,Olive Branch,Mississippi,De Soto,False
4680,4681,Female,35-44,scientist,6119,6119,West Hartford,Connecticut,Hartford,6119,W Hartford,Connecticut,Hartford,False
4709,4710,Female,35-44,self-employed,24450,24450,Lexington,Virginia,Rockbridge,24450,Lexington,Virginia,Lexington City,False
4731,4732,Male,25-34,sales/marketing,24450,24450,Lexington,Virginia,Rockbridge,24450,Lexington,Virginia,Lexington City,False
4736,4737,Male,35-44,self-employed,19003,19003,Ardmore,Pennsylvania,Montgomery,19003,Ardmore,Pennsylvania,Delaware,False
4759,4760,Male,35-44,technician/engineer,6110,6110,West Hartford,Connecticut,Hartford,6110,W Hartford,Connecticut,Hartford,False
4885,4886,Female,35-44,technician/engineer,92509,92509,Jurupa Valley,California,Riverside,92509,Riverside,California,Riverside,False
5047,5048,Female,35-44,executive/managerial,30350,30350,Atlanta,Georgia,Fulton,30350,Atlanta,Georgia,Dekalb,False
5150,5151,Male,18-24,unemployed,30662,30662,Royston,Georgia,Madison,30662,Royston,Georgia,Franklin,False
5160,5161,Male,25-34,college/grad student,30052,30052,Loganville,Georgia,Walton,30052,Loganville,Georgia,Gwinnett,False
5180,5181,Male,25-34,executive/managerial,19003,19003,Ardmore,Pennsylvania,Montgomery,19003,Ardmore,Pennsylvania,Delaware,False
5524,5525,Female,Under 18,K-12 student,55311,55311,Maple Grove,Minnesota,Hennepin,55311,Osseo,Minnesota,Hennepin,False
5551,5552,Male,50-55,executive/managerial,23233,23233,Henrico,Virginia,Henrico,23233,Richmond,Virginia,Henrico,False
5688,5689,Male,25-34,other or not specified,84119,84119,West Valley City,Utah,Salt Lake,84119,Salt Lake City,Utah,Salt Lake,False
5700,5701,Male,25-34,executive/managerial,55311,55311,Maple Grove,Minnesota,Hennepin,55311,Osseo,Minnesota,Hennepin,False
5766,5767,Male,25-34,artist,75287,75287,Dallas,Texas,Denton,75287,Dallas,Texas,Dallas,False
5816,5817,Male,25-34,technician/engineer,33028,33028,Pembroke Pines,Florida,Broward,33028,Hollywood,Florida,Broward,False

In [192]:
df_users.loc[(df_users['same']==False) & (df_users['zip'].isnull()) & (df_users['zip_code'].isnull())]
# Sumber utama dari https://www.unitedstateszipcodes.org/, diperkuat dengan https://www.mapdevelopers.com/what-is-my-zip-code.php.
# Kalau sumber keduanya agak ngaco, percaya sumber utama saja. Kalau 2-2nya nggak jelas, boleh coba cari di Google. Kalau nggak ada, tulis nggak ada.
# Bagian ini kalau ada yang memang ada, taruh di paling atas/paling bawah biar jelas.
# 64043 tidak ada
# 98107-2117 tidak ada. 98107 itu Seattle, Washington, King.  2117 itu Boston, Massachusetts, Suffolk
# 37919-4204 tidak ada. 37919 itu Knoxville, Tennessee, Knox. 4204 itu tidak ada
# 98153 tidak ada.
# dst (Tolong dipastikan apakah ada atau tidak)

,UserID,Gender,Age,Occupation,Zip-code,zip,city_name,state_name,county_name,zip_code,city,state,county,same
142,143,Male,18-24,clerical/admin,64043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
160,161,Male,45-49,self-employed,98107-2117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
232,233,Female,45-49,writer,37919-4204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
234,235,Male,25-34,other or not specified,98153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
292,293,Male,56+,academic/educator,55337-4056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
335,336,Male,18-24,other or not specified,98765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
457,458,Male,50-55,self-employed,55405-2546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
505,506,Male,25-34,self-employed,55103-1006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
540,541,Female,18-24,college/grad student,5849574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
549,550,Male,45-49,farmer,21559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
566,567,Male,35-44,writer,52570-9634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
573,574,Male,25-34,unemployed,90214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
760,761,Male,18-24,executive/managerial,99945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
867,868,Male,50-55,technician/engineer,1702-7224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
912,913,Male,25-34,other or not specified,20744-6223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
935,936,Male,18-24,college/grad student,34567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
938,939,Female,25-34,writer,20110-5616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
945,946,Male,35-44,executive/managerial,48103-8929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1045,1046,Male,56+,tradesman/craftsman,53404-1230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1080,1081,Male,18-24,college/grad student,68144-2410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1090,1091,Male,18-24,customer service,345567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1108,1109,Male,18-24,K-12 student,45904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1138,1139,Male,25-34,academic/educator,93420-2852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1194,1195,Female,Under 18,K-12 student,13907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1200,1201,Male,18-24,college/grad student,84112-2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1258,1259,Male,35-44,executive/managerial,2020010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1268,1269,Female,56+,retired,1234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1364,1365,Female,Under 18,K-12 student,61665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1381,1382,Female,45-49,academic/educator,92100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1433,1434,Female,Under 18,K-12 student,495321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1462,1463,Male,50-55,self-employed,92612-3417,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1540,1541,Male,56+,technician/engineer,23464-3016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1576,1577,Male,56+,other or not specified,72227-5733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1594,1595,Male,35-44,academic/educator,92683-1892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1657,1658,Female,35-44,doctor/health care,94214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1672,1673,Male,Under 18,K-12 student,98043-3621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1727,1728,Male,18-24,college/grad student,11710-1641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1739,1740,Male,56+,academic/educator,96153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1757,1758,Female,25-34,other or not specified,33067-1400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1758,1759,Male,25-34,self-employed,22112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1817,1818,Male,Under 18,farmer,2254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2001,2002,Female,56+,retired,2136-1522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2082,2083,Male,18-24,college/grad student,64920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2086,2087,Male,25-34,other or not specified,37923-3112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2105,2106,Female,18-24,writer,495321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2179,2180,Male,25-34,programmer,27713-9225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2209,2210,Male,45-49,technician/engineer,88005-4313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2219,2220,Female,50-55,clerical/admin,95451-9554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2242,2243,Male,45-49,artist,86701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2312,2313,Female,50-55,doctor/health care,48103-4711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2479,2480,Female,18-24,writer,94410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2555,2556,Male,25-34,college/grad student,2430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2567,2568,Male,25-34,technician/engineer,31311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2571,2572,Male,35-44,sales/marketing,75005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2584,2585,Male,45-49,scientist,64081-8102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2591,2592,Male,50-55,executive/managerial,80004-4448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2718,2719,Male,25-34,programmer,98100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2719,2720,Male,35-44,other or not specified,20795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2745,2746,Male,50-55,sales/marketing,50265-2850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2852,2853,Male,Under 18,academic/educator,444555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2876,2877,Male,35-44,academic/educator,80687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2918,2919,Male,18-24,technician/engineer,88076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3101,3102,Male,25-34,programmer,34170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3132,3133,Male,18-24,college/grad student,33720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3140,3141,Male,25-34,sales/marketing,81679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3161,3162,Male,25-34,academic/educator,8854-3115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3169,3170,Male,25-34,other or not specified,8461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3286,3287,Male,56+,retired,27514-3540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3307,3308,Female,18-24,writer,15701-1348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3327,3328,Male,56+,unemployed,91790-1161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3332,3333,Male,18-24,self-employed,29404-2205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3354,3355,Male,25-34,academic/educator,400060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3426,3427,Male,25-34,sales/marketing,78267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3525,3526,Male,35-44,artist,62263-3004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3545,3546,Male,25-34,writer,41706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3547,3548,Male,45-49,executive/managerial,92965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3552,3553,Male,35-44,self-employed,61600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3576,3577,Female,56+,other or not specified,231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3674,3675,Male,35-44,executive/managerial,6680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3684,3685,Male,25-34,customer service,55100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3737,3738,Male,45-49,executive/managerial,1904-1355,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3770,3771,Male,25-34,academic/educator,14982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3847,3848,Male,25-34,scientist,70809-2612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3904,3905,Male,25-34,technician/engineer,361069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3937,3938,Male,25-34,artist,92711-0571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3955,3956,Male,25-34,other or not specified,94930-2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4011,4012,Male,18-24,college/grad student,49503-1313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4013,4014,Male,25-34,other or not specified,48316-5601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4037,4038,Male,50-55,doctor/health care,11510-2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4123,4124,Male,25-34,tradesman/craftsman,62330-1408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4226,4227,Male,25-34,unemployed,11414-2520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4453,4454,Male,25-34,writer,111225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4457,4458,Female,25-34,college/grad student,15701-2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4491,4492,Male,56+,retired,45322-3132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4537,4538,Male,25-34,programmer,956456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4722,4723,Male,35-44,executive/managerial,90014-1718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4724,4725,Male,35-44,customer service,96707-1321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4745,4746,Male,50-55,academic/educator,19087-3622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4807,4808,Male,35-44,other or not specified,96707-1321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4860,4861,Male,25-34,college/grad student,4309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4902,4903,Male,35-44,programmer,95952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4912,4913,Female,25-34,academic/educator,970025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4964,4965,Male,Under 18,K-12 student,63123-1507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4972,4973,Female,56+,artist,949702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5059,5060,Male,45-49,technician/engineer,84109-2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5099,5100,Male,50-55,doctor/health care,193122042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5144,5145,Male,35-44,executive/managerial,77565-2332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5215,5216,Male,18-24,artist,81291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5295,5296,Female,Under 18,other or not specified,27245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5310,5311,Male,50-55,other or not specified,62025-8000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5336,5337,Female,35-44,clerical/admin,2725-1010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5359,5360,Male,18-24,programmer,43650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5379,5380,Male,18-24,college/grad student,1125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5407,5408,Male,25-34,writer,11230-1710,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5469,5470,Male,56+,executive/managerial,20003-2712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5472,5473,Male,25-34,academic/educator,20120-6354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5503,5504,Male,45-49,executive/managerial,85287-2702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5509,5510,Male,18-24,college/grad student,191004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5528,5529,Male,18-24,doctor/health care,5273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5599,5600,Female,45-49,other or not specified,12833-2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5664,5665,Male,18-24,college/grad student,10461-1301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5670,5671,Male,25-34,academic/educator,2146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5681,5682,Male,18-24,other or not specified,23455-4959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5802,5803,Male,Under 18,K-12 student,1597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5859,5860,Female,25-34,college/grad student,91428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5903,5904,Female,45-49,programmer,954025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5924,5925,Female,25-34,other or not specified,90035-4444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5966,5967,Male,50-55,self-employed,73069-5429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
5984,5985,Female,18-24,college/grad student,78705-5221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False

In [193]:
df_users.loc[(df_users['same']==False) & (df_users['zip'].isnull()) & (df_users['zip_code'].notnull())]
# Sumber utama dari https://www.unitedstateszipcodes.org/, diperkuat dengan https://www.mapdevelopers.com/what-is-my-zip-code.php.
# Kalau sumber keduanya agak ngaco, percaya sumber utama saja. Kalau 2-2nya nggak jelas, boleh coba cari di Google. Kalau nggak ada, tulis nggak ada.
# 32793 di Winter Park, Florida, Orange
# 96931 di Tamuning, Guam, Guam
# 6520 di New Haven, Connecticut, New Haven
# 21203 di Baltimore, Maryland, Baltimore City

,UserID,Gender,Age,Occupation,Zip-code,zip,city_name,state_name,county_name,zip_code,city,state,county,same
11,12,Male,25-34,programmer,32793,NaN,NaN,NaN,NaN,32793,Winter Park,Florida,Orange,False
52,53,Male,25-34,other or not specified,96931,NaN,NaN,NaN,NaN,96931,Tamuning,Guam,Guam,False
130,131,Male,18-24,college/grad student,6520,NaN,NaN,NaN,NaN,6520,New Haven,Connecticut,New Haven,False
173,174,Male,25-34,self-employed,21203,NaN,NaN,NaN,NaN,21203,Baltimore,Maryland,Baltimore City,False
295,296,Male,50-55,customer service,89432,NaN,NaN,NaN,NaN,89432,Sparks,Nevada,Washoe,False
390,391,Male,45-49,lawyer,22122,NaN,NaN,NaN,NaN,22122,Newington,Virginia,Fairfax,False
504,505,Male,35-44,technician/engineer,37815,NaN,NaN,NaN,NaN,37815,Morristown,Tennessee,Hamblen,False
568,569,Female,18-24,college/grad student,97339,NaN,NaN,NaN,NaN,97339,Corvallis,Oregon,Benton,False
662,663,Female,25-34,executive/managerial,12345,NaN,NaN,NaN,NaN,12345,Schenectady,New York,Schenectady,False
699,700,Male,50-55,technician/engineer,14650,NaN,NaN,NaN,NaN,14650,Rochester,New York,Monroe,False
733,734,Male,25-34,executive/managerial,90078,NaN,NaN,NaN,NaN,90078,Los Angeles,California,Los Angeles,False
781,782,Male,56+,academic/educator,28223,NaN,NaN,NaN,NaN,28223,Charlotte,North Carolina,Mecklenburg,False
811,812,Male,25-34,doctor/health care,37930,NaN,NaN,NaN,NaN,37930,Knoxville,Tennessee,Knox,False
878,879,Male,45-49,self-employed,92018,NaN,NaN,NaN,NaN,92018,Carlsbad,California,San Diego,False
889,890,Male,18-24,college/grad student,92153,NaN,NaN,NaN,NaN,92153,San Diego,California,San Diego,False
994,995,Female,18-24,college/grad student,96803,NaN,NaN,NaN,NaN,96803,Honolulu,Hawaii,Honolulu,False
1193,1194,Female,25-34,academic/educator,95617,NaN,NaN,NaN,NaN,95617,Davis,California,Yolo,False
1269,1270,Male,25-34,doctor/health care,12230,NaN,NaN,NaN,NaN,12230,Albany,New York,Albany,False
1338,1339,Male,35-44,tradesman/craftsman,85275,NaN,NaN,NaN,NaN,85275,Mesa,Arizona,Maricopa,False
1366,1367,Male,25-34,programmer,53707,NaN,NaN,NaN,NaN,53707,Madison,Wisconsin,Dane,False
1378,1379,Female,56+,retired,93448,NaN,NaN,NaN,NaN,93448,Pismo Beach,California,San Luis Obispo,False
1380,1381,Male,18-24,lawyer,89170,NaN,NaN,NaN,NaN,89170,Las Vegas,Nevada,Clark,False
1392,1393,Male,18-24,college/grad student,6430,NaN,NaN,NaN,NaN,6430,Fairfield,Connecticut,Fairfield,False
1441,1442,Male,18-24,artist,12345,NaN,NaN,NaN,NaN,12345,Schenectady,New York,Schenectady,False
1494,1495,Male,18-24,other or not specified,77341,NaN,NaN,NaN,NaN,77341,Huntsville,Texas,Walker,False
1523,1524,Male,18-24,college/grad student,6459,NaN,NaN,NaN,NaN,6459,Middletown,Connecticut,Middlesex,False
1609,1610,Male,25-34,lawyer,55555,NaN,NaN,NaN,NaN,55555,Young America,Minnesota,Carver,False
1631,1632,Male,25-34,self-employed,94120,NaN,NaN,NaN,NaN,94120,San Francisco,California,San Francisco,False
1708,1709,Male,25-34,other or not specified,73147,NaN,NaN,NaN,NaN,73147,Oklahoma City,Oklahoma,Oklahoma,False
1785,1786,Male,45-49,academic/educator,85721,NaN,NaN,NaN,NaN,85721,Tucson,Arizona,Pima,False
1877,1878,Male,Under 18,K-12 student,92846,NaN,NaN,NaN,NaN,92846,Garden Grove,California,Orange,False
1939,1940,Male,25-34,programmer,95158,NaN,NaN,NaN,NaN,95158,San Jose,California,Santa Clara,False
1943,1944,Female,18-24,college/grad student,93107,NaN,NaN,NaN,NaN,93107,Santa Barbara,California,Santa Barbara,False
1959,1960,Male,45-49,executive/managerial,55555,NaN,NaN,NaN,NaN,55555,Young America,Minnesota,Carver,False
2066,2067,Male,50-55,self-employed,6430,NaN,NaN,NaN,NaN,6430,Fairfield,Connecticut,Fairfield,False
2083,2084,Male,18-24,college/grad student,23186,NaN,NaN,NaN,NaN,23186,Williamsburg,Virginia,Williamsburg City,False
2136,2137,Female,Under 18,K-12 student,681,NaN,NaN,NaN,NaN,681,Mayaguez,Puerto Rico,Mayaguez,False
2172,2173,Male,50-55,retired,87502,NaN,NaN,NaN,NaN,87502,Santa Fe,New Mexico,Santa Fe,False
2196,2197,Female,25-34,academic/educator,27515,NaN,NaN,NaN,NaN,27515,Chapel Hill,North Carolina,Orange,False
2271,2272,Male,25-34,other or not specified,71731,NaN,NaN,NaN,NaN,71731,El Dorado,Arkansas,Union,False
2294,2295,Male,45-49,lawyer,72316,NaN,NaN,NaN,NaN,72316,Blytheville,Arkansas,Mississippi,False
2324,2325,Female,18-24,college/grad student,27708,NaN,NaN,NaN,NaN,27708,Durham,North Carolina,Durham,False
2341,2342,Male,35-44,clerical/admin,48107,NaN,NaN,NaN,NaN,48107,Ann Arbor,Michigan,Washtenaw,False
2502,2503,Male,35-44,technician/engineer,19360,NaN,NaN,NaN,NaN,19360,New London,Pennsylvania,Chester,False
2509,2510,Male,25-34,executive/managerial,37930,NaN,NaN,NaN,NaN,37930,Knoxville,Tennessee,Knox,False
2690,2691,Male,18-24,college/grad student,6459,NaN,NaN,NaN,NaN,6459,Middletown,Connecticut,Middlesex,False
2712,2713,Male,25-34,executive/managerial,96811,NaN,NaN,NaN,NaN,96811,Honolulu,Hawaii,Honolulu,False
2758,2759,Male,25-34,executive/managerial,36102,NaN,NaN,NaN,NaN,36102,Montgomery,Alabama,Montgomery,False
2769,2770,Male,35-44,academic/educator,14260,NaN,NaN,NaN,NaN,14260,Buffalo,New York,Erie,False
2772,2773,Male,35-44,artist,78766,NaN,NaN,NaN,NaN,78766,Austin,Texas,Travis,False
2799,2800,Female,18-24,college/grad student,73070,NaN,NaN,NaN,NaN,73070,Norman,Oklahoma,Cleveland,False
2827,2828,Male,18-24,college/grad student,2454,NaN,NaN,NaN,NaN,2454,Waltham,Massachusetts,Middlesex,False
2843,2844,Male,25-34,writer,87103,NaN,NaN,NaN,NaN,87103,Albuquerque,New Mexico,Bernalillo,False
2906,2907,Female,35-44,customer service,12345,NaN,NaN,NaN,NaN,12345,Schenectady,New York,Schenectady,False
2944,2945,Female,35-44,technician/engineer,89507,NaN,NaN,NaN,NaN,89507,Reno,Nevada,Washoe,False
2992,2993,Male,18-24,unemployed,12133,NaN,NaN,NaN,NaN,12133,North Hoosick,New York,Rensselaer,False
3013,3014,Male,35-44,executive/managerial,6430,NaN,NaN,NaN,NaN,6430,Fairfield,Connecticut,Fairfield,False
3080,3081,Male,25-34,executive/managerial,77252,NaN,NaN,NaN,NaN,77252,Houston,Texas,Harris,False
3088,3089,Male,45-49,self-employed,93448,NaN,NaN,NaN,NaN,93448,Pismo Beach,California,San Luis Obispo,False
3113,3114,Male,18-24,customer service,65211,NaN,NaN,NaN,NaN,65211,Columbia,Missouri,Boone,False
3134,3135,Male,25-34,scientist,12345,NaN,NaN,NaN,NaN,12345,Schenectady,New York,Schenectady,False
3146,3147,Male,25-34,sales/marketing,49355,NaN,NaN,NaN,NaN,49355,Ada,Michigan,Kent,False
3333,3334,Male,35-44,other or not specified,9142,NaN,NaN,NaN,NaN,9142,Apo,AE,,False
3355,3356,Male,35-44,executive/managerial,95031,NaN,NaN,NaN,NaN,95031,Los Gatos,California,Santa Clara,False
3374,3375,Male,25-34,college/grad student,89193,NaN,NaN,NaN,NaN,89193,Las Vegas,Nevada,Clark,False
3380,3381,Male,25-34,other or not specified,96671,NaN,NaN,NaN,NaN,96671,FPO,AP,,False
3405,3406,Female,25-34,executive/managerial,85214,NaN,NaN,NaN,NaN,85214,Mesa,Arizona,Maricopa,False
3490,3491,Male,25-34,self-employed,28542,NaN,NaN,NaN,NaN,28542,Camp Lejeune,North Carolina,Onslow,False
3590,3591,Male,35-44,doctor/health care,96158,NaN,NaN,NaN,NaN,96158,South Lake Tahoe,California,El Dorado,False
3626,3627,Female,35-44,academic/educator,85287,NaN,NaN,NaN,NaN,85287,Tempe,Arizona,Maricopa,False
3652,3653,Male,18-24,scientist,96661,NaN,NaN,NaN,NaN,96661,FPO,AP,,False
3735,3736,Male,35-44,academic/educator,44242,NaN,NaN,NaN,NaN,44242,Kent,Ohio,Portage,False
3748,3749,Female,25-34,other or not specified,60664,NaN,NaN,NaN,NaN,60664,Chicago,Illinois,Cook,False
3750,3751,Female,35-44,programmer,55555,NaN,NaN,NaN,NaN,55555,Young America,Minnesota,Carver,False
3816,3817,Male,35-44,clerical/admin,20122,NaN,NaN,NaN,NaN,20122,Centreville,Virginia,Fairfax,False
3884,3885,Male,25-34,programmer,92728,NaN,NaN,NaN,NaN,92728,Fountain Valley,California,Orange,False
3918,3919,Male,45-49,other or not specified,73702,NaN,NaN,NaN,NaN,73702,Enid,Oklahoma,Garfield,False
3968,3969,Male,56+,executive/managerial,12345,NaN,NaN,NaN,NaN,12345,Schenectady,New York,Schenectady,False
3981,3982,Male,56+,retired,95929,NaN,NaN,NaN,NaN,95929,Chico,California,Butte,False
4067,4068,Male,56+,clerical/admin,89185,NaN,NaN,NaN,NaN,89185,Las Vegas,Nevada,Clark,False
4069,4070,Male,25-34,scientist,93107,NaN,NaN,NaN,NaN,93107,Santa Barbara,California,Santa Barbara,False
4117,4118,Male,25-34,clerical/admin,91221,NaN,NaN,NaN,NaN,91221,Glendale,California,Los Angeles,False
4270,4271,Male,35-44,executive/managerial,83405,NaN,NaN,NaN,NaN,83405,Idaho Falls,Idaho,Bonneville,False
4277,4278,Female,45-49,executive/managerial,9094,NaN,NaN,NaN,NaN,9094,Apo,AE,,False
4319,4320,Male,25-34,customer service,89114,NaN,NaN,NaN,NaN,89114,Las Vegas,Nevada,Clark,False
4494,4495,Male,18-24,college/grad student,22906,NaN,NaN,NaN,NaN,22906,Charlottesville,Virginia,Charlottesville City,False
4628,4629,Female,18-24,college/grad student,94309,NaN,NaN,NaN,NaN,94309,Palo Alto,California,Santa Clara,False
4643,4644,Male,50-55,academic/educator,19481,NaN,NaN,NaN,NaN,19481,Valley Forge,Pennsylvania,Chester,False
4694,4695,Male,18-24,tradesman/craftsman,56002,NaN,NaN,NaN,NaN,56002,Mankato,Minnesota,Blue Earth,False
4766,4767,Female,35-44,homemaker,3769,NaN,NaN,NaN,NaN,3769,Lyme Center,New Hampshire,Grafton,False
4849,4850,Female,45-49,clerical/admin,44555,NaN,NaN,NaN,NaN,44555,Youngstown,Ohio,Mahoning,False
5103,5104,Male,35-44,writer,19108,NaN,NaN,NaN,NaN,19108,Philadelphia,Pennsylvania,Philadelphia,False
5185,5186,Male,35-44,programmer,96555,NaN,NaN,NaN,NaN,96555,APO,AP,,False
5357,5358,Male,35-44,executive/managerial,10625,NaN,NaN,NaN,NaN,10625,White Plains,New York,Westchester,False
5399,5400,Female,18-24,college/grad student,30010,NaN,NaN,NaN,NaN,30010,Norcross,Georgia,Gwinnett,False
5484,5485,Male,25-34,college/grad student,8544,NaN,NaN,NaN,NaN,8544,Princeton,New Jersey,Mercer,False
5487,5488,Male,25-34,scientist,91125,NaN,NaN,NaN,NaN,91125,Pasadena,California,Los Angeles,False
5506,5507,Male,45-49,executive/managerial,44325,NaN,NaN,NaN,NaN,44325,Akron,Ohio,Summit,False
5530,5531,Male,50-55,technician/engineer,9056,NaN,NaN,NaN,NaN,9056,Apo,AE,,False
5552,5553,Male,35-44,clerical/admin,29425,NaN,NaN,NaN,NaN,29425,Charleston,South Carolina,Charleston,False
5612,5613,Female,35-44,other or not specified,98622,NaN,NaN,NaN,NaN,98622,Heisson,Washington,Clark,False
5639,5640,Male,35-44,technician/engineer,78765,NaN,NaN,NaN,NaN,78765,Austin,Texas,Travis,False
5715,5716,Male,Under 18,K-12 student,3756,NaN,NaN,NaN,NaN,3756,Lebanon,New Hampshire,Grafton,False
5727,5728,Female,35-44,writer,9824,NaN,NaN,NaN,NaN,9824,Apo,AE,,False
5781,5782,Female,35-44,other or not specified,55459,NaN,NaN,NaN,NaN,55459,Minneapolis,Minnesota,Hennepin,False
5884,5885,Male,25-34,academic/educator,96930,NaN,NaN,NaN,NaN,96930,Talofofo,Guam,Guam,False
5932,5933,Male,25-34,artist,98227,NaN,NaN,NaN,NaN,98227,Bellingham,Washington,Whatcom,False

In [194]:
df_users.loc[(df_users['same']==False) & (df_users['zip'].notnull()) & (df_users['zip_code'].isnull())]
# 80023 di Broomfield, Colorado, Broomfield

,UserID,Gender,Age,Occupation,Zip-code,zip,city_name,state_name,county_name,zip_code,city,state,county,same
1888,1889,Male,18-24,sales/marketing,80023,80023,Broomfield,Colorado,Broomfield,NaN,NaN,NaN,NaN,False